@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap');

:root{
  --green: #64ffda;
  --light-grey: #ccd6f6;
  --dark-blue: #0a192f;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-blue);
  color: #8892b0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.number {
  color: var(--green);
  display: inline-block;
  font-size: 2rem;
  font-family: 'Fira Code', monospace;
}

.heading {
  display: inline-block;
  margin: 1vw;
  font-size: 2rem;
  color: var(--light-grey);
}

hr{
  display: inline-block;
  width: 30%;
  color: #2d3952;
}

/* NAVBAR */

.nav {
  margin-top: 3vh;
  display: flex;
  height: 10vh;
  justify-content: space-between;
}

.nav-bar {

  margin: auto;
  padding-top: 0;
  margin-left: 50%;
}

.nav-list {
  color: var(--green);
}

.nav-item {
  display: inline-block;
  margin: 2vh 1vw;
  font-size: 0.9rem;
}

.nav-item a {
  color: #808aa7;
  text-decoration: none;
  margin-left: 0.5vw;
  font-size: 0.9rem;
}

.nav-item a:hover{
  color: var(--green);
  transition: color 500ms;
}

.nav-list .resume {
  margin-left: 1vw;
  border: 1px solid var(--green);
  margin:0;
  border-radius: 3px;
  height: 3vh;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  border-width: 0.1rem;
}

.nav-list .resume:hover {
  background-color: #014031;
  transition: background-color 500ms;
}

.nav-list .resume-link{
    color: var(--green);

}

/* HEADER */

.header {
  margin-top: 18vh;
  margin-left: 12vw;
}

.hi {
  font-size: 1.5rem;
  color: var(--green);
  font-family: 'Fira Code', monospace;
}

.name {
  font-size: 4.2rem;
  color: var(--light-grey);
  margin: 0;
  margin-top: 3vh;
}

.name.sub-name {
  color: #8892b0;
}

.intro {
  margin-top: 8vh;
  font-size: 1.2rem;
  max-width: 35vw;
  line-height: 1.5rem;
}

/* ABOUT ME */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-me {
  margin-top: 50vh;
  margin-left: 12vw;
  justify-content: space-between;
}

.grid .profile-pic {
  margin-top: 50vh;
  display: inline-block;
  height: 70vh;
  width: 25vw;
  justify-self: center;
  box-shadow: 2.7rem 2.7rem var(--dark-blue), 2.8rem 2.8rem var(--green);
}

.about-me .content {
  width: 40vw;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.about-me ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-me .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40vw;
}

.about-me .list-item::before {
  content: "▹  ";
  color: var(--green);
}

/* EXPERIENCE */

.experience {
  margin-left: 12vw;
  margin-top: 50vh;
  margin-right: 12vw;
}

.experience .grid {
  margin-top: 15vh;
  grid-gap: 20vh;
  justify-content: center;
  align-items: center;
}

.grid .company-img {
  justify-self: center;
  margin-top: 5vh;
  height: 35vh;
  width: 15vw;
  border-radius: 50%;
  background: #fff;
}

.company h3 {
  color: var(--light-grey);
  font-size: 2rem;
}

.company ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.company .list {
  width: 35vw;
}

.company .list-item {
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.company .list-item::before {
  content: "▹  ";
  color: var(--green);
}



/* WORK */

.work {
  margin-left: 12vw;
  margin-top: 50vh;
  margin-right: 12vw;
}

.container {
  position: relative;
  margin-top: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container .box {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 10vh 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  clip-path: circle(400px at center 100px);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.container .box:hover .imgBx {
  clip-path: circle(80px at center 100px);
  transition-delay: 0s;
}

.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.container .box .content h2 {
  margin: 0;
  padding: 0;
  color: var(--light-grey);
}

.container .box .content a {
  text-decoration: none;
  color: var(--green);
  padding: 4px;
  display: inline-block;
  margin: auto 2vw;
  border: 1px solid var(--green);
  border-radius: 3px;
}

.container .box .content h2,
.container .box .content p,
.container .box .content a {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);

}

.container .box:hover .content h2 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s
}

.container .box:hover .content p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.7s
}

.container .box:hover .content a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s
}


/* GET IN TOUCH */

.contact {
  margin-left: 12vw;
  margin-top: 50vh;
  margin-right: 12vw;
  text-align: center;
}

.contact p {
  font-size: 1.2rem;
  max-width: 60%;
  line-height: 1.5rem;
  margin: auto;
  margin-top: 5vh;
}

.contact .header {
  margin-left: 0;
}

.contact button {
  margin-top: 10vh;
  padding: 3vh 3vw;
  border-radius: 5px;
  background-color: var(--dark-blue);
  border-color: var(--green);
  border-style: solid;
  font-size: 1.2rem;
  color: var(--green);
  border-width: 0.1rem;
}

.contact button:hover {
  background-color: #014031;
  transition: background-color 500ms;
}

/* FOOTER */

.footer {
  background-color: #020c1b;
  margin-top: 50vh;
  text-align: center;
  padding: 3vh;
}

.footer footer {
  color: #6e7894;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.footer a {
  color: #6e7894;
  text-decoration: none;
}

.footer a:hover {
  color: var(--green);
  text-decoration: none;
  transition: color 200ms;
}


/*------------------------------------------- MOBILE -------------------------------------------*/

@media(max-width: 980px) {

  :root {font-size: 32px;}

  /* NAVBAR */

  .nav {
    height: 0;
    visibility: hidden;
  }

  /* HEADER */

  .name {
    font-size: 3rem;
    width: 80vw;
  }

  .name.sub-name {
    color: #8892b0;
  }

  .intro {
    max-width: 80vw;
  }

  /* ABOUT ME */
  .grid {
    grid-template-columns: 1fr;
  }

  .grid .profile-pic {
    height: 50vh;
    width: 70vw;
  }

  .about-me .content {
    width: 80vw;
  }

  .about-me .list {
    width: 80vw;
  }

  /* EXPERIENCE */

  .experience .grid {
    grid-gap: 5vh;
  }

  .grid .company-img {
    height: 35vh;
    width: 60vw;
  }

  .company .list {
    width: 80vw;
  }

  .company.dollar-business {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .company-img.dollar-business{
    height: 0;
    width: 0;
    visibility: hidden;
  }

  /* WORK */

  .container .box {
    width: 70vw;
    height: 70vh;
  }

  .container .box .content h2 {
    font-size: 2rem;
  }

  .container .box .content p {
      font-size: 1.5rem;
  }

  .container .box .content a {
      font-size: 1.1rem;
  }


  .container .box:hover .content h2 {
    font-size: 2rem;
  }

  .container .box:hover .content p {
    font-size: 1.5rem;
  }

  .container .box:hover .content a {
    font-size: 1.1rem;
  }

  .container .box .content a {
    padding: 15px;
  }

  /* CONTACT */

  .contact {
    margin-left: 12vw;
    margin-top: 50vh;
    margin-right: 12vw;
    text-align: center;
  }

  .contact p {
    max-width: 100%;
  }

}
