---
import Image from "astro/components/Image.astro";
import githubIcon from "../assets/github_no_bg.svg"
import githubIconDark from "../assets/github_no_bg_dark.svg"
const currentYear = new Date().getFullYear();
---
<footer>
  <div class="border-gray-300 border-t-[1px] flex w-full p-2 text-xs">
    <div class="text-gray-500 flex w-full">
      <div class="flex flex-col flex-grow">
        <p class="flex-grow">&copy; {currentYear} | Upamanyu Das</p>
        <p>
          <a href="/credits/" class="underline hover:text-gray-700 dark:hover:text-gray-300">Credits</a>
        </p>
      </div>
      <div class="flex flex-col flex-grow items-end">
        <p>Courage and Kindness</p>
        <div>
          <a href="https://github.com/tintindas" class="flex items-center gap-1 hover:text-gray-700 dark:hover:text-gray-300">
            <Image src={githubIcon} alt="x icon" class="size-3 opacity-60 hover:opacity-100 dark:hidden" />
            <Image src={githubIconDark} alt="github icon" class="opacity-60 hover:opacity-100 size-3 hidden dark:inline" />
            <span class="underline hover:text-gray-700 dark:hover:text-gray-300">
              tintindas
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
</script>
