<header class="flex items-center h-12 justify-center sticky top-0 z-50">
  <!-- Logo -->
  <div>
    <a class="cursor-pointer" href="/">
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="24" 
        height="24" 
        viewBox="0 0 24 24" 
        fill="none" stroke="currentColor" 
        stroke-width="2" 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        class="size-8 lucide lucide-asterisk"
      >
        <path d="M12 6v12"/>
        <path d="M17.196 9 6.804 15"/>
        <path d="m6.804 9 10.392 6"/>
        </svg>
    </a>
  </div>
  
  <!-- Nav -->
  <div class="mx-auto w-6/12">
    <nav class="text-sm text-gray-500">
      <ul class="flex items-center justify-center gap-6">
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/tech/">Tech</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/photography/">Photography</a></li>
        <li><a href="/collections/">Collections</a></li>
      </ul>
    </nav>
  </div>
</header>
