---
import Logo from "../assets/copyright.svg"
import { MoonStar, Sun, Menu, X } from '@lucide/astro'
---

<header class="flex items-center h-12 justify-center sticky top-0 z-50">
  <!-- Logo -->
  <div>
    <a class="cursor-pointer" href="/">
      <Logo
        class="size-8 text-gray-800 dark:text-slate-50" 
       /> 
    </a>
  </div>

  <!-- Nav -->
  <button type="button" id="theme-selector-mobile" 
    class="ml-auto mr-4 md:hidden cursor-pointer"
  >
    <span class="text-gray-600">
      <MoonStar class="dark:hidden" />
    </span>
    <span class="dark:text-slate-200">
      <Sun class="hidden dark:inline" />
    </span>
  </button>
  <button 
    id="menu-btn" 
    class="md:hidden hover:cursor-pointer focus:outline-none z-20"
  >
    <Menu
      id="menuIcon"
      class="size-8 text-gray-700 dark:text-slate-200"
    />
    <X
      id="closeIcon"
      class="size-8 hidden text-gray-700 dark:text-slate-200"
    />
  </button>

  <div id="navbar" class="ml-auto fixed w-3/4 h-full right-0 top-0 z-10
    transform transition-transform duration-300 translate-x-full ease-in-out
    md:mx-auto md:static md:block md:w-6/12 md:items-center md:content-center 
    md:translate-0">
    <nav 
      class="text-md h-full text-gray-700 shadow-md  rounded-md bg-slate-50
      md:content-center md:text-sm md:shadow-none
      dark:text-slate-300 dark:bg-slate-900"
    >
      <ul 
        class="flex flex-col h-full gap-6 justify-evenly items-center
        md:flex-row md:flex md:h-fit">
        <li class="hover:text-gray-900 md:hover:text-gray-900 
          transform transition-transform hover:scale-105 
          hover:-translate-y-0.5 dark:md:hover:text-slate-50">
          <a href="/blog/">Blog</a>
        </li>
        <li class="hover:text-gray-900 md:hover:text-gray-900 
          transform transition-transform hover:scale-105 
          hover:-translate-y-0.5 dark:md:hover:text-slate-50">
          <a href="/tech/">Tech</a>
        </li>
        <li class="hover:text-gray-900 md:hover:text-gray-900 
          transform transition-transform hover:scale-105 
          hover:-translate-y-0.5 dark:md:hover:text-slate-50">
          <a href="/projects/">Projects</a>
        </li >
        <li class="hover:text-gray-900 md:hover:text-gray-900 
          transform transition-transform hover:scale-105 
          hover:-translate-y-0.5 dark:md:hover:text-slate-50">
          <a href="/reading/">Reading</a>
        </li>
        <li class="hover:text-gray-900 md:hover:text-gray-900 
          transform transition-transform hover:scale-105 
          hover:-translate-y-0.5 dark:md:hover:text-slate-50">
          <a href="/photography/">Photography</a>
        </li>
        <li class="hover:text-gray-900 md:hover:text-gray-900 
          transform transition-transform hover:scale-105 
          hover:-translate-y-0.5 dark:md:hover:text-slate-50">
          <a href="/collections/">Collections</a>
        </li>
      </ul>
    </nav>
  </div>
  
  <button type="button" id="theme-selector-desktop"
     class="hidden mr-4 md:inline cursor-pointer" 
   > 
    <span class="text-gray-600">
      <MoonStar class="dark:hidden" />
    </span>
    <span class="dark:text-slate-200"> 
      <Sun class="hidden dark:inline" /> 
    </span> 
   </button> 
</header>

<script>
  const menuBtn = document.getElementById("menu-btn")
  const navBar = document.getElementById("navbar")
  const menuIcon = document.getElementById("menuIcon")
  const closeIcon = document.getElementById("closeIcon")

  let isOpen = false

  menuBtn?.addEventListener("click", () => {
    isOpen = !isOpen

    // Toggle Navbar
    navBar?.classList.toggle("translate-x-full")
    navBar?.classList.toggle("translate-x-0")

    //// Toggle Icons
    menuIcon?.classList.toggle('hidden', isOpen);
    closeIcon?.classList.toggle('hidden', !isOpen);
  })

</script>
