@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
:root {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 5vw;
  padding: 0;
  box-sizing: border-box;
  background-color: #06090f;
  color: #96a3a3;
  font-family: "Roboto", sans-serif;
}

section {
  margin-top: 15vh;
}
section .sub-head {
  display: inline-flex;
  margin-bottom: 3vh;
}
section h2 {
  color: #f0f6fc;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  position: relative;
  padding-bottom: 5px;
}
section h2:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  background: #f0f6fc;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: 1;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
  font-size: 1.3em;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
g#Cat {
  animation: pop-out 3s ease-out forwards;
}

@keyframes pop-out {
  0% {
    transform: translateX(-2%) translateY(3%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
path#Tail {
  animation: tail-wave linear 1.5s;
  animation-delay: 2s;
  transform-origin: bottom;
}

@keyframes tail-wave {
  0% {
    transform: rotate(1deg);
  }
  33% {
    transform: rotate(-1deg);
  }
  66% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
header {
  margin: 0;
  display: grid;
  grid-template-columns: 30% 70%;
}

nav {
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
  margin-top: 4vh;
  margin-bottom: 11vh;
  font-size: 1.05rem;
}
nav .nav-icons {
  display: none;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  text-transform: uppercase;
  margin-right: 30px;
}
nav ul li:hover {
  text-decoration: underline;
}
nav ul li:last-child {
  margin: 0;
}
nav ul li:last-child a {
  color: #9e99ff;
}
nav ul li:last-child a:after {
  background: #9e99ff;
}
nav ul li a {
  text-decoration: none;
  color: #f0f6fc;
  font-weight: 500;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}
nav ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #f0f6fc;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav ul li a:hover:after {
  width: 100%;
  left: 0;
}

.greeting {
  margin-top: 15vh;
  grid-row: 1/3;
  grid-column: 1/2;
  font-size: 1.5rem;
}
.greeting p {
  font-size: 1.2rem;
}
.greeting h1 {
  color: white;
}

.hero {
  place-self: end;
}

.cat {
  display: none;
}

.icons {
  margin-top: 3vh;
  display: inline-flex;
  padding-top: 25px;
  border-top: solid 2px #3e4447;
}
.icons a {
  margin: 0 5px;
}
.icons a:first-of-type {
  margin-left: 0;
}
.icons a:last-of-type {
  margin-right: 0;
}
.icons svg {
  height: 30px;
  width: 30px;
  margin: 0 9px;
  color: #96a3a3;
}
.icons svg:hover {
  color: #f0f6fc;
}

@media (max-width: 992px) {
  :root {
    font-size: 32px;
  }

  header {
    grid-template-columns: 1fr;
  }

  nav {
    margin-bottom: 0;
    grid-row: 3/4;
    grid-column: auto;
    font-size: 1.6rem;
    justify-content: center;
  }
  nav ul li a:after {
    height: 5px;
  }
  nav .nav-icons {
    display: flex;
  }
  nav .nav-icons a {
    margin: 0 9px;
  }
  nav .nav-icons a:first-of-type {
    margin-left: 0;
  }
  nav .nav-icons a:last-of-type {
    margin-right: 0;
  }
  nav .nav-icons svg {
    height: 60px;
    width: 60px;
    margin: 0 9px;
    color: #96a3a3;
  }
  nav .nav-icons svg:hover {
    color: #f0f6fc;
  }
  nav a {
    margin-left: 20%;
    margin-top: 10%;
  }

  .greeting {
    margin-top: 5vh;
    grid-row: 1/2;
    width: 100%;
    grid-column: auto;
  }
  .greeting .icons {
    display: none;
  }

  .hero {
    display: none;
  }

  .cat {
    display: block;
    grid-row: 2/3;
    place-self: center;
  }
}

/*# sourceMappingURL=main.css.map */
